table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid #000;
  padding: .5rem 1rem;
}

table td {
  text-align: center;
}

table td.disabled {
  opacity: .5;
}

table td:hover:not(.disabled) {
  background: #eee;
  cursor: pointer;
}

table .active {
  color: var(--primary-color);
  font-weight: bold;
}

table .selected {
  color: blue;
}
